@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  width: 100%;
  height: 100%;
  font-family: -apple-system, 'Fira Sans', 'Segoe UI', 'Roboto', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

code, pre {
  font-family: 'Fira Code', 'Operator Mono Medium', 'Dank Mono', monospace;
}

a {
  @apply text-green-500 dark:text-green-300 underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.segoe-font {
  font-family: 'Segoe UI', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.backdrop-filter {
  backdrop-filter: saturate(100%) blur(10px);
}

.page {
  @apply flex flex-col items-center pt-20 pb-56 w-full
}

.page-contents {
  @apply flex flex-col w-full pl-4 pr-4 md:max-w-xl lg:max-w-3xl md:p-0;
}

.page-title {
  @apply font-bold;
}

.prose > h1 {
  @apply w-full text-center text-nile-blue-500 dark:text-cararra-500 !important;
  font-family: 'Inter', sans-serif;
}

.prose > h2, h3, h4, h5, h6 {
  @apply text-nile-blue-500 dark:text-cararra-500 !important;
  font-family: 'Inter', sans-serif;
}

.prose ul > li::before {
  @apply bg-nile-blue-400 dark:bg-cararra-600 !important;
}

.prose hr {
  @apply border-cararra-700 dark:border-nile-blue-300 !important;
}

.prose-green a {
  @apply text-green-500 dark:text-green-300 !important;
}

.prose pre {
  @apply bg-gray-50 dark:bg-black border border-gray-200 dark:border-gray-600;
}

.prose blockquote {
  @apply text-gray-700 dark:text-gray-300 !important;
}

.prose code {
  @apply text-nile-blue-500 dark:text-cararra-500 px-1 py-0.5 border border-gray-100 dark:border-black rounded-md bg-gray-100 dark:bg-black;
}

.prose pre code {
  @apply text-nile-blue-500 dark:text-cararra-500;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-400;
}

.token.punctuation {
  @apply text-nile-blue-500 dark:text-cararra-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-gray-900 dark:text-gray-50;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply bg-green-400 bg-opacity-10 dark:bg-green-200 dark:bg-opacity-20;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-gray-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-purple-600 dark:text-purple-400;
}

.token.function,
.token.class-name {
  @apply text-gray-900 dark:text-gray-50;
}

.token.regex,
.token.important,
.token.variable {
  @apply bg-yellow-200 bg-opacity-10;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-900 px-2 py-1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply text-nile-blue-500 px-2 py-1 border border-b-0 border-gray-200 rounded-t bg-gray-200 text-sm font-mono font-bold;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block mx-4 px-4 bg-gray-100 border-l-4 border-blue-500;
}